@inherits LayoutComponentBase
@inject NavigationManager navigationManager;
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick="SignUp">Sign Up</button>
            <button @onclick="LogIn">Log In</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    public void SignUp()
    {
        navigationManager.NavigateTo("signUp");
    }
    public void LogIn()
    {
        navigationManager.NavigateTo("logIn");
    }
}