.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main, article {
    background-color: #13131f;
}

main {
    flex: 1;
}


.top-row {
    background-color: #1e1e2e;
    border-bottom: 1px solid #00ffcc;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

#signUp, #logIn, #logOut, #edit {
    padding: 8px 20px;
    border-radius: 50px;
    border: 1px solid #00ffcc;
    background-color: transparent;
    color: #00ffcc;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 8px;
}

#signUp:hover, #logIn:hover {
    background-color: #00ffcc;
    color: black;
}
