@inherits LayoutComponentBase
@inject NavigationManager navigationManager;
@using Blazored.SessionStorage;
@inject ISessionStorageService sessionStorage;
@using Core.Model;
<div class="page">
    <main>
        <div class="top-row px-4">
            <button id="mainPageBtn" @onclick="goToMainPage">Go to studios</button>
            @if (loggedIn != null)
            {
                <a>Logged in as @loggedIn.Username</a>
                <button id="logOut" @onclick="LogOut">Log out</button>
                <button id="edit" @onclick="Edit">Edit Profile</button>
                <button id="inbox" @onclick="Inbox">Inbox</button>
            }
            else
            {
                <button id="signUp" @onclick="SignUp">Sign Up</button>
                <button id="logIn" @onclick="LogIn">Log In</button>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    public void SignUp()
    {
        navigationManager.NavigateTo("signUp");
    }
    public void LogIn()
    {
        navigationManager.NavigateTo("logIn");
    }

    public void LogOut()
    {
        sessionStorage.ClearAsync();
        loggedIn = null;
        navigationManager.NavigateTo("logIn");
    }

    public void Edit()
    {
        navigationManager.NavigateTo("editProfile");
    }

    public void goToMainPage()
    {
        navigationManager.NavigateTo("/");
    }
    public void Inbox()
    {
        navigationManager.NavigateTo("inbox");
    }
    User? loggedIn;
    protected async override Task OnInitializedAsync()
    {
        loggedIn = await sessionStorage.GetItemAsync<User?>("user");
    }
}