@page "/logIn"
@inject HttpClient http
@using Core.Model;
@using Blazored.SessionStorage
@inject ISessionStorageService sessionStorage
@inject NavigationManager navManager

<PageTitle>Log ind</PageTitle>

<button @onclick="Hjem">Hjem</button>

<h3>Log ind</h3>

<div class="login-container">

    <InputText @bind-Value="username"
               class="form-control mb-2"
               placeholder="Indtast brugernavn" />


    <InputText type="password"
               class="form-control mb-2"
               @bind-Value="password"
               placeholder="Indtast password" />

    <div style="text-align: center">
        <button class="btn btn-primary" @onclick="OnClickLogin">Login</button>
    </div>

    @if (!string.IsNullOrEmpty(errorText))
    {
        <div class="error-message">
            <span class="error-icon">⚠️</span>
            <span class="error-text">@errorText</span>
        </div>
    }
</div>

@code {

    private string username = "";
    private string password = "";
    string errorText = "";
    private User? loggedIn;

    private async Task OnClickLogin()
    {
        var loginRequest = new LoginRequest
            {
                Username = username,
                Password = password
            };
        var response = await http.PostAsJsonAsync("http://localhost:5112/api/user/logIn", loginRequest);
        User? loggedIn = null;
        if (response.IsSuccessStatusCode)
        {
            loggedIn = await response.Content.ReadFromJsonAsync<User>();
            if (loggedIn != null)
            {
                await sessionStorage.SetItemAsync("user", loggedIn);
                Console.WriteLine($"logged in as {loggedIn.Username}");
                navManager.NavigateTo("/", true);
            }
            else
            {
                errorText = "Login failed: Invalid user data returned.";
            }
        }
        
    }

    public void Hjem()
    {
        navManager.NavigateTo("/");
    }
}
